body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("sinup2.jpg");
  backdrop-filter: blur(4px);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.signup-box {
  background: #cbc6c6;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
  width: 380px;
  text-align: center;
}

.signup-box h2 {
  margin-bottom: 20px;
  color: #145a32;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.signup-btn {
  width: 100%;
  background: #145a32;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-btn:hover {
  background: #0f3621;
}

.login-link {
  margin-top: 15px;
  font-size: 14px;
}

.login-link a {
  color: #145a32;
  text-decoration: none;
  font-weight: bold;
}

/* Success Popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
